.container{
	
	display:flex;
align-items:flex-start;
	
}
.pictorial-news-section{
width:300px;
gap:10px;
	display:flex;
flex-direction:column;
	align-items:flex-start;
}

.header{
	color:white;
	background-color:#011e29;
padding:10px;
text-align:center;

}
.latest-news-section{


